body{
    background-color:#f4f4f4;
    color:#555555;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px; /*Standart font size*/ 
    margin:0;

}

.clr{
    clear:both;
}


.text-center{
    text-align: center;
}

.container{
    width:80%; /*Uses percent is better because it makes things responsive */
    margin:auto; /*Set margin to the same in all sides*/ 
                 /*This is like, but is not responsive */
}
.box-1{
    background:#333;
    color:#fff;
    padding: 1.6%; 
    border:5px red solid; /*could be border-righ , boter-left... etc.*/
 
}

.box-1 h2{
    font-family:Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline; 
    text-transform: uppercase; 
    letter-spacing: 0.2em; 
    word-spacing: 1.0em;
    text-align: center;
}
.box-2 {
    border:3px dotted #ccc;
    padding: 20px;
    margin:20px 0px;

}

.box-2 h2{
    text-decoration: underline;
}

.categories{
    border:1px #ccc solid; 
    padding:16px;
    border-radius: 15px; /*Isso faz a borda ficar arredondada*/
    margin-bottom: 90px;
}

.categories a{
    color:black;
}

a:active{
    color: aqua;
}

a:visited{
    color: black;
}

a:hover{
    color:red;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: #333;
    border-block-end-style: dotted;
    border-block-end-width: 1px;
    list-style:none;
    margin-left: 0px;
    /*list-style-image: url('');*/ /*This changes the marker of the line to an choosen image*/

}

.my-form .form-group{
    margin-bottom: 10px;
    size: 80%;
    margin-right: 5%; 
    margin-left: 5%; 
}

.my-form label{
    display: block; 
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px; /*padding from the content*/
    width: 100%;  /*This to fill te horizontal parent*/
}

.page-end{
    margin-bottom: 900px;
}

.button{
    margin-top: 20px;
    color: #fff;
    background:black;
    padding:10px 15px;
    border: none;
}
.button:hover{
    background: red;
    color: #f4f4f4
}

.block{
    float:left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px; 
    box-sizing:border-box; /*This takes the horizontal space and fix the width+padding super space problem*/
}

#third-block{
    background: #333;
    color: #fff;
    border: 2px;
    border-style: dotted;
}

.p-box{
    font-family: -apple-system;
    margin-top: 30px;
    margin-left: 1%; 
    margin-right: 1%;
    padding-bottom: 20%;
    padding-top: 20%; 
    border: #555555;
    border-style: double;
    border-width: 2px solid;
    position:relative; 
    background-image: url(../images/map-of-the-world-2401458__340.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 70%; 
    background-size: 100%;
     
}
.p-box h2{
    position:absolute;
    top: 100px;
    left:200px;
}

.fix{
    position:fixed;
    top: 20%;  
    left:0%;
}























